<div ng-show='getClass()' class="class-details col-md-6">
    <div class='row header'>
        <div class='col-sm-9'>
            <h3 class='toggle-editing' contenteditable ng-model='project.classes[selection.classId].name' ng-disabled='cleanView'></h3>
        </div>
        <div class='col-sm-3 hidden-xs'>
            <button class='btn btn-sm' ng-class='{"btn-default" : cleanView, "btn-info" : !cleanView}' ng-click='cleanView = !cleanView'>
                <i class='icon-edit'></i> Toggle Editing
            </button>
        </div>
    </div>
    <ng-include src="'partials/templates/properties-section.html'"></ng-include>
    <ng-include src="'partials/templates/methods-section.html'"></ng-include>
</div>
