<div ng-controller='MethodListCtrl'>
    <h4>Methods</h4>
    <div class="method" ng-repeat='method in project.classes[selection.classId].methods' ng-controller='MethodCtrl'>
        <div ng-show='!cleanView' class="buttons">
            <button class="btn btn-default" ng-disabled='$index == 0' ng-click='moveMethod($index,-1)'>
                <i class="icon-arrow-up"></i>
            </button>
            <button class="btn btn-default" ng-disabled='$index == project.classes[selection.classId].methods.length -1' ng-click='moveMethod($index,1)'>
                <i class="icon-arrow-down"></i>
            </button>
            <button class="btn btn-danger" ng-click='deleteMethod()'>
                <i class="icon-trash"></i> 
            </button>
        </div>
        <div class="name toggle-editing" contenteditable='true' ng-model='method.name'></div>
        <div class="type toggle-editing" contenteditable='true' ng-model='method.type'></div>
        <div class="description toggle-editing" contenteditable='true' ng-model='method.description'></div>
        <ng-include src="'partials/templates/arguments-section.html'"></ng-include>
    </div>
    <div ng-show='!cleanView' class='add-method'>
        <button class='btn btn-sm btn-success' ng-click='addMethod()'><i class='icon-plus'></i> Add Method</button>
    </div>
</div>
