<div class="row">
    <div class="project-header col-md-12">
        <h2 contenteditable='true' ng-model='project.name'></h2>
        <div class="buttons hidden-xs">
            <div class="input-group share-group">
                <input type="text" class="form-control" onClick='this.select()' readonly value="{{shareUrl(project.id)}}" />
                <span class="input-group-btn">
                    <button class="btn btn-primary" fb-share="shareUrl(project.id)"><i class="icon-share"></i> Share
                    </button>
                </span>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <ng-include src='"partials/templates/sidebar.html"'></ng-include>
    <div class='class-view col-sm-9 col-md-10' ng-controller='ClassCtrl'>
        <h3 ng-show='!getClass()'>Select a class</h3>
        <ng-include src="'partials/templates/detail-pane.html'"></ng-include>
        <ng-include src="'partials/templates/code-pane.html'"></ng-include>

    </div>
</div>
